.student-item {
  display: grid;
  padding: $_M;
  grid-template-columns: 1fr 4fr;
  gap: $_S;

  &__image {
    width: $_2XL;
    height: $_2XL;
  }

  &__text {
    h3 {
      margin-bottom: $_XS;
    }
  }

  &__actions {
    width: 100%;
    grid-column: span 2;
    display: flex;
    gap: $_S;
  }
}
