$primary: #32007d;
$primary-shade: #231932;
$primary-tint: #c8afff;
$dark: #0c1222;
$light: #cbced5;
$grey: #979caa;

$_3XS: 0.2rem;
$_2XS: 0.4rem;
$_XS: 0.8rem;
$_S: 1.6rem;
$_M: 2.4rem;
$_L: 3.2rem;
$_XL: 4.8rem;
$_2XL: 6.4rem;
$_3XL: 12.8rem;