@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@import 'mixins';
@import 'variables';
@import 'container';
@import 'button';
@import 'card';
@import 'controls';
@import 'sort';
@import 'item';
@import 'grid';
@import 'image';
@import 'header';
@import 'details';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background: $grey;
  color: $dark;
}

label {
  @include alfa;
}

p,
button,
input,
select {
  @include bravo;
}
h6 {
  @include charlie;
}
h2 {
  @include delta;
}
h3 {
  @include echo;
}
h2 {
  @include foxtrot;
}
h1 {
  @include golf;
}

i {
  @include foxtrot;
}

input,
select,
button {
  padding: $_S $_M;
  border-radius: $border-radius-small;
}

select,
input {
  border: 1px solid $grey;
}

.main {
  padding-bottom: $_3XL;
}

.overlay {
  position: fixed;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;

  &-content {
    overflow: hidden;
    position: fixed;
    transform: translate(-50%, -50%);
    height: auto;
    top: 50%;
    left: 50%;
    z-index: 2;
  }
}
